.footer {
	color: white;

	background-color: @black;
}

.footer-message {
	padding: 40px;

	text-align: center;
}

.footer-legals {
	background-color: #111;
}

.copyrights {
	float: left;
}

.footer-email {
	float: right;
}