/*  Global  */

.wrapper {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 60px;
	left: 0;

	/*padding: 20px;*/
}





/*  Frame  */

.frame {
	position: fixed;
	display: block;

	background-color: @white;

	z-index: 1;
}

.frame_top {
	height: 20px;
	width: 100%;
	top: 0;
	left: 0;
}

.frame_right {
	height: 100%;
	width: 20px;
	top: 0;
	right: 0;
}

.frame_bottom {
	height: 20px;
	width: 100%;
	left: 0;
	bottom: 0;
}

.frame_left {
	height: 100%;
	width: 20px;
	top: 0;
	left: 0;
}



/*   Home title  */

#the_title {
	position: absolute;
	top: 89px;
	left: 34px;

	font-size: 15px;
	letter-spacing: 0em;
}


/*  Sections  */

.section {
	position: relative;
	display: block;
	height: auto;
	width: 100%;/*
	margin-top: 20px;
	margin-bottom: 20px;*/
	padding: 40px;
	padding-top: 80px;
}



/*  Hero section  */

.hero-section {
	position: relative;
	display: block;
	height: 70%;
	width: 100%;
	min-height: 500px;

	padding: 40px;

	background-image: url("/assets/img/gradient.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: repeat-x;
}

.hero-title-wrap {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0px;
	left: 0px;
}

.hero-title {
	position: relative;
	display: block;
	width: 100%;
	max-width: 1000px;
	bottom: 0px;
	left: 0px;

	margin: 0 auto;
	padding: 40px;

}

.augusto-logo {
	position: relative;
	display: inline-block;
	width: 100px;

	margin-bottom: 30px;
}


/*  Follow sections*/

.follow-section {
	height: 500px;

	text-align: center;

	background-color: white;
}

.follow-links {
	position: relative;
	margin-top: 40px;
}

.follow-icons {
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;

	color: transparent;

	background-color: red;
}




/*  Hero Image  */

.hero-img {
	position: absolute;
	display: block;
	top: 0;
	left: 40%;
	width: 60%;
	height: 100%;

	background-image: url('/assets/img/augusto-bottle.png');
	background-position: left;
	background-size: cover;
}








