/*  Global  */

.wrapper {
	position: absolute;
	display: block;
	width: 100%;
	height: auto;

	top: 60px;
	right: 0;
	bottom: 0;
	left: 0;

	font-size: 0;

	/*padding: 20px;*/
}






/*  Sections  */

.section {
	position: relative;
	display: block;
	height: auto;
	width: 100%;/*
	margin-top: 20px;
	margin-bottom: 20px;*/
	padding: 40px;
	padding-top: 80px;
}







/*  ------------  */
/*  Hero section  */

.hero-section {
	position: relative;
	display: block;
	height: 70%;
	width: 100%;
	min-height: 500px;

	padding: 40px;

	font-size: 0;

	background-color: #c5dbf2;/*
	background-image: url("/assets/img/gradient.jpg");
	background-size: auto 100%;
	background-position: center;
	background-repeat: repeat-x;*/
}




/*   Home title  */

.hero-title-wrap {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0px;
	left: 0px;
}

.hero-title {
	position: relative;
	display: block;
	width: 100%;
	max-width: 1200px;
	bottom: 0px;
	left: 0px;

	margin: 0 auto;
	padding: 40px;

}

#the_title {
	position: absolute;
	top: 89px;
	left: 34px;

	font-size: 15px;
	letter-spacing: 0em;
}

.title-price {
	/*display: inline-block;*/

}




/*  Hero Image  */

.hero-img {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;

	background-image: url('/assets/img/bottle-top.png');
	background-position: 0 50px;
	background-repeat: no-repeat;
}







/*  -------------  */
/*  About section  */

.about-section {
	position: relative;
	display: block;
	height: auto;
	width: 100%;
	min-height: 500px;

	padding: 40px;

	font-size: 0;

}

.about-wrap {
	position: relative;
	display: table;
	height: 100%;
	max-width: 1100px;
	margin: 0 auto;
}

.about-img-wrap {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 50%;

	padding-right: 50px;

	pointer-events: none;
}

.about-img {
	position: relative;
	display: block;
	width: 80%;

	margin: 0 auto;
}

.bottle {
	position: absolute;
	overflow: hidden;
	height: 60%;
	width: 100%;
	top: -10%;
	left: 0;
}

.bottle-1 {
	transform:rotate(45deg);
	transform-origin: 50% 100%;
}

.bottle-2 {
	transform:rotate(-135deg);
	transform-origin: 50% 100%;
}

.bottle-3 {
	transform:rotate(-45deg);
	transform-origin: 50% 100%;
}

.bottle-4 {
	transform:rotate(135deg);
	transform-origin: 50% 100%;
}

.bottle-top {
	position: relative;
	display: block;
	height: 200%;

	margin: 0 auto;
}

.bottle-bottom {
	position: relative;
	display: block;
	height: 200%;

	margin: 0 auto;

	transform:rotate(180deg);
}

.about-content {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 50%;
}

.about-content-wrap {
	position: relative;
	display: block;
	width: 100%;

	padding-top: 40px;
	padding-bottom: 20px;

	/*text-align: center;*/
}







/*  -------------------  */
/*  Description section  */

.description-section {
	position: relative;
	display: block;
	width: 100%;

	font-size: 0;

	&:after {
		content: "";
		height: 100%;
		width: 100%;
	}

}

.description-item {
	position: relative;
	display: inline-block;
	height: 300px;
	width: 50%;

	border-top: 1px solid #f2f2f2;
}

.item-1 {
	background-color: #f2f2f2;
}
.item-2 {
	background-color: #fff;
}
.item-3 {
	background-color: #fff;
}
.item-4 {
	background-color: #f2f2f2;
}

.item-content {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 50%;

	padding: 30px;

	float: left;
}

.item-image {
	position: relative;
	display: inline-block;
	overflow: hidden;
	height: 100%;
	width: 50%;

	float: left;
	pointer-events: none;
}

.item-image img {
	display: block;
	margin-right: 0;
	height: 100%;
}




.item-content-1 {
	float: left;
}
.item-image-1 {
	float: right;
}

.item-content-2 {
	float: left;
}
.item-image-2 {
	float: right;
}

.item-content-3 {
	float: right;
}
.item-image-3 {
	float: left;
}

.item-content-4 {
	float: right;
}
.item-image-4 {
	float: left;
}








/*  Follow sections*/

.follow-section {
	height: 500px;

	text-align: center;

	background-color: white;
}

.follow-links {
	position: relative;
	margin-top: 40px;
}

.follow-icons {
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;

	color: transparent;

	background-color: red;
}










/*  -----------------  */
/*  Mobile Breakpoint  */

@media only screen and (max-width: 768px){

	#the_title {
		top: 73px;
		font-size: 13px;
	}

	.hero-img {
		width: 100%;

		background-image: url('/assets/img/augusto-bottle.png');
		background-position: -55% -60px;
		background-size: 180%;
	}

	.about-section {
		padding: 30px;
	}

	.about-content {
		height: initial;
		width: 100%;
	}

	.about-img-wrap {
		width: 100%;
		height: initial;

		padding-right: 0;
	}

	.description-item {
		height: 250px;
		width: 100%;
	}

	.item-content {
		width: 65%;
	}

	.item-image {
		width: 35%;
	}

	.item-3 {
	background-color: #f2f2f2;
	}
	.item-4 {
		background-color: #fff;
	}



	.item-content-2 {
		float: right;
	}
	.item-image-2 {
		float: left;
	}

	.item-content-3 {
		float: left;
	}
	.item-image-3 {
		float: right;
	}

	.item-content-4 {
		float: right;
	}
	.item-image-4 {
		float: left;
	}

	.image-2 {
		transform: scaleX(-1);
		float: right;
	}
	.image-3 {
		transform: scaleX(-1);
	}
	.image-4 {
		float: right;
	}


}

