/*  -------  */
/*  Colours  */

@black: #000000;
@white: #ffffff;
@blue: #95b9d9;
@grey: #1a1a1a;
@lightgrey: #eaeaea;
@salmon: #f3e7e4;
@green: #d4ded3;
@brown: #e2c8b9;



/*  ----------  */
/*  Font style  */

.h1 {
	font-family: 'Bodoni-Italic',serif;
	font-size: 90px;
	font-style: normal;
	font-weight: 400;

	line-height: 0.8em;
	letter-spacing: -0.06em;

	color: @black;

	margin-bottom: 20px;
}

.h2 {
	font-family: 'Bodoni-Italic',serif;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;

	line-height: 0.8em;
	letter-spacing: -0.06em;

	color: @black;

	margin-bottom: 20px;
}

.h3 {
	font-family: 'GR-Light',sans-serif;
	font-size: 31px;
	font-style: normal;
	font-weight: normal;

	line-height: 1em;
	letter-spacing: -2px;

	opacity: 0.5;

	margin-bottom: 20px;
}

.h4 {
	font-family: 'Bodoni-Italic',sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;

	line-height: 0.8em;
	letter-spacing: 1px;

	color: @black;

	margin-bottom: 20px;
}

.p1 {
	font-family: 'GR-Light',sans-serif;
	font-size: 31px;
	font-style: normal;
	font-weight: normal;

	line-height: 1.2em;
	letter-spacing: -1px;

	margin-bottom: 20px;
}

.p2 {
	font-family: 'GR-Light',sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;

	line-height: 1.8em;
	letter-spacing: 0.007em;

	margin-bottom: 20px;
}









/*  -------------  */
/*  Button Styles  */

a {
	text-decoration: none;
}



/*  Primary button (big) */
.button_1 {
	position: relative;
	display: inline-block;
	padding: 20px 40px;
	/*margin-top: 30px;*/

	font-family: "GR-Light";
	font-size: 16px;
	text-transform: uppercase;

	border-radius: 50px;
}


/*  Secondary button (small) */
.button_2 {
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	/*margin-top: 30px;*/

	font-family: "GR-Light";
	font-size: 14px;
	text-transform: uppercase;

	border-radius: 50px;
}

.button_fill {
	position: relative;
	color: @white;
	background-color: @black;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;

	&:after {
		content: ">";
		position: absolute;
		display: inline-block;
		
		right: 30px;
		margin-left: 20px;

		color: @white;
		opacity: 0;

		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}

	&:hover {
		padding-right: 60px;
		background-color: #222;

		&:after {
			opacity: 1;
		}
	}
}

.button_border {
	box-shadow: 0 0 0 2px @black inset;
	color: @black;

	-webkit-transition: all 0.05s;
	-moz-transition: all 0.05s;
	-o-transition: all 0.05s;
	transition: all 0.05s;

	&:hover {
		box-shadow: 0 0 0 4px @black inset;
	}
}


.button_border_2 {
	box-shadow: 0 0 0 2px @black inset;
	color: @black;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;

	&:after {
		content: ">";
		position: absolute;
		display: inline-block;
		
		right: 30px;
		margin-left: 20px;

		color: @white;
		opacity: 0;

		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}

	&:hover {
		padding-right: 60px;
		background-color: black;
		color: white;

		&:after {
			opacity: 1;
		}
	}
}



.text-link {
	position: relative;

	font-family: 'GR-Book',sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;

	line-height: 25px;
	letter-spacing: 0.007em;

	color: @black;

	&:after {
		content: "";
		position: absolute;
		display: inline-block;
		height: 5px;
		width: 100%;
		bottom: 0;
		left: 0;

		background-color: #0483d9;
		opacity: .4;

		z-index: -1;

		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}

	&:hover:after {
		opacity: .7;
	}
}








/*  ------------  */
/*  Border Frame  */

.frame {
	position: fixed;
	display: block;

	background-color: @white;

	z-index: 1;
}

.frame_top {
	height: 20px;
	width: 100%;
	top: 0;
	left: 0;
}

.frame_right {
	height: 100%;
	width: 20px;
	top: 0;
	right: 0;
}

.frame_bottom {
	height: 20px;
	width: 100%;
	left: 0;
	bottom: 0;
}

.frame_left {
	height: 100%;
	width: 20px;
	top: 0;
	left: 0;
}







/*  ------------  */
/*  Centre align  */


.table {
	display: table;
	width: 100%;
	height: 100%;
}

.cell {
	display: table-cell;
	vertical-align: middle;
	/*text-align: center;*/
	width: 100%;
	height: 100%;
}








/*  -----------------  */
/*  Mobile Breakpoint  */

@media only screen and (max-width: 450px){

	.h1 {
		font-size: 60px;
	}

	.h2 {
		font-size: 40px;
	}

	.h3 {
		font-size: 25px;
	}

	.h4 {
		font-size: 25px;
	}

	.p1 {
		font-size: 21px;
	}

	.p2 {

	}

}

